<%- include scripts %>
    <div class="navbar-fixed hoverable">
        <nav style="background-color: #1e88e5">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo left">Sure</a>
            </div>
        </nav>

    </div>



    <div class="row">
        <div class="col s1"></div>
        <div class="col s10 card-panel hoverable yellow lighten-5" style="height: 400px">
            <div class="row">
                <div class="col s2"></div>
                <div class="col s8">
                    <div class="card-panel blue hoverable" style="text-align: center">
                        <span class="white-text">
                        WELCOME
                        </span>
                    </div>
                </div>
                <div class="col s2"></div>
            </div>
            <div style="height: 50px"></div>
            <div class="row">
                <div class="col s2"></div>
                <div class="col s4" style="text-align: center">
                    <a class="waves-effect hoverable waves-light btn" href="/login" style="background-color: #1e88e5"><i class="material-icons left">assignment_ind</i>LOGIN</a>
                </div>
                <div class="col s4" style="text-align: center">
                    <a class="waves-effect hoverable waves-light btn" href="/signup" style="background-color: #1e88e5"><i class="material-icons right">person_add</i>SIGNUP</a></div>
                <div class="col s2"></div>
            </div>

        </div>
        <div class="col s1"></div>
    </div>